services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: highway-fe
    env_file:
      - path: ./.env
        required: true
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 5s
      timeout: 5s
      retries: 5
